#titleRow{
    background-color: hsl(240, 95%, 71%);
    text-align: center;
    height: 10em;
    padding-top: 3em;
    color: antiquewhite;
}

#searchBox{
    background-color: white;
    height: 28em;
    border-color: lightgray;
    border-width: 1%;
    border-style: solid;
    border-radius: 0.5em;
       

}

#searchHeader{
    text-align: left;
    background-color: lightgray;
    width: 100%;
    

}

.inputBox{
    width: 90%;
    margin-bottom: 2em;
    border-radius: 0.5em;
}

#search, #clear{
    background-color: white;
    border-style: none;
    
}

#search{
    margin-right: 2em;
}

#bumper{
    height: 7em;
}

#bumper2{
    height: 5em;
}

#resultsHeader{
    text-align: left;
    background-color: lightgray;
    width: 100%;
}

#resultsBox{
    background-color: white;
    height: 5em;
    border-color: lightgray;
    border-width: 1%;
    border-style: solid;
    border-radius: 0.5em;}