#titleRow{
    background-color: hsl(240, 95%, 71%);
    text-align: center;
    height: 10em;
    padding-top: 3em;
    color: antiquewhite;
}

#searchBox{
    background-color: white;
    height: 28em;
    border-color: lightgray;
    border-width: 1%;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0;
       

}

#searchHeader{
    text-align: left;
    background-color: lightgray;
    width: 100%;
    padding: 0;
    padding-left: 1%;
    

}

.inputBox{
    width: 100%;
    margin-bottom: 2em;
    border-radius: 0.5em;
}

#search, #clear{
    background-color: white;
    border-style: none;
    
}

#search{
    margin-right: 2em;
}

#resultsHeader{
    text-align: left;
    background-color: lightgray;
    width: 100%;
    padding: 0;
    padding-left: 1%;
}

#resultsBox{
    background-color: white;
    height: 5em;
    border-color: lightgray;
    border-width: 1%;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0;
}


/*----------------------------------------------------------------------------------*/
/*Bumper CSS. The Bumpers are the empty space in between the elements*/

#bumperA, #bumperB, #bumperC {
    height: 7em;
}

#bumperB{
    background-color:  hsl(240, 95%, 71%);
}

#bumper2A, #bumper2B, #bumper2C {
    height: 5em;
}

#bumper2B{
    background-color: hsl(240, 95%, 71%);
}
/*-----------------------------------------------------------------------------------*/

